<%= render 'form' %>
<div class="row">
	<span class="span6 offset3">
		<%= link_to [:admin, @template], :method => :delete do %>
			<button class="btn btn-danger">Delete</button>
		<% end %>
	</span>
</div>