<div class="row">
	<div class="span6 offset3">
		<h2>Location: <%= @location.name %></h2>
		<h3><%= link_to "Download CSV", admin_location_path(@location) + ".csv" %></h3>		
		<%= render 'admin/computers/list', :computers => @location.computers, :lineno => true %>
	</div>
</div>