<h1>Listing Students</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>History</th>
  </tr>
 
<% @students.each do |student| %>
  <tr>
    <td><%= link_to student.firstname + " " + student.lastname, admin_student_path(student) %></td>
    <td><%= student.studentid %></td>
	<td><table>
		<tr>
			<th>Computer Tag</th>
			<th>Current?</th>
		</tr>
		<% student.computer_ownerships.each do |ownership| %>
		<tr>
			<td><%= ownership.computer.idtag %></td>
			<td><%= ownership.current? %></td>
		</tr>
		<% end %>
		</table></td>
  </tr>
<% end %>
</table>
 
<br />