<div class="row">
	<div class="span6 offset3">
		<h2> Unassigned (Checkout) Computers </h2>
		<h4><%= link_to "Download CSV", this_csv_path %></h4>
		<%= render 'admin/computers/list', :computers => @checkout, :lineno => true %>
	</div>
</div>