<div class="row">
	<div class="span6 offset3">
		<h2> Computer Reports </h2>
		<ul>
			<li><%= link_to "Bad Computers", reports_bad_admin_computers_path %></li>
			<li><%= link_to "Good Computers", reports_good_admin_computers_path %></li>
			<li><%= link_to "Search by Parts", reports_parts_admin_computers_path %></li>
		</ul>
	</div>
</div>