<div class="row">
	<div class="span6 offset3">
		<h2> Computer with <%= @bad ? "Bad" : "Good" %> <%= @part %></h2>
		<h4><%= link_to "Download CSV", csv_path(request.url) %></h4>
		<%= render 'admin/computers/list', :computers => @list, :lineno => true %>
	</div>
</div>