<div class="row">
	<div class="span6 offset3">
		<h2> <%= @report_name %> </h2>
		<% unless @location.nil? then %><h4> from <%= @location.name %> <% end %>
		<h4><%= link_to "Download CSV", this_csv_path %></h4>
		<%= render 'admin/computers/list', :computers => @list, :lineno => true %>
	</div>
</div>