<div class="row">
	<div class="span6">
		<h3>Computers</h3>
		<%= render "admin/computers/search" %>
	</div>

	<div class="span6">
		<h3>Students</h3>
		<%= render "admin/students/search" %>
	</div>
</div>