<div class="row">
	<div class="span6">
		<%= render "search" %>
	</div>
	<div class="span3">
		<%= link_to new_admin_computer_path do %>
			<button class="btn">New Computer</button>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="span6">
		<% if !@computers.nil? then %>
			<%= render 'admin/computers/list', :computers => @computers %>
		<% else %>
			No Computers to Display!
		<% end%>
	</div>
</div>