<!DOCTYPE html>
<html>
<head>
  <title>HTLA Inventory Administration</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= render 'layouts/admin_nav' %>

  <div class="container">
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <% if Rails.env.development? %>
        <button class="btn" id="debug">Debug</button>
        <%= debug(params) %>
      <% end %>
    </div>
  </div>
</body>
</html>